{% extends 'base.html.twig' %}
{% block body %}
    <div class="container px-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h3 class="sliderTitle">Çok oluyoruz.</br>1 pantolon 250 Bin ₺</h3>
                    <img src="images/slider/1.jpg" alt="Şok Kampanya"/>
                </div>
                <div class="swiper-slide">
                    <h3 class="sliderTitle">Ayakkabı sıkıcı.</br> Spor ayakkabı giyin.</h3>
                    <img src="images/slider/2.jpg" alt="Şok Kampanya"/>
                </div>
                <div class="swiper-slide">
                    <h3 class="sliderTitle">Ayakkabı sıkıcı.</br> Bot giyin.</h3>
                    <img src="images/slider/3.jpg" alt="Şok Kampanya"/>
                </div>
                <div class="swiper-slide">
                    <h3 class="sliderTitle"></h3>
                    <h3 class="sliderTitle">Ayakkabı sıkıcı.</br> Sneakers giyin.</h3>
                    <img src="images/slider/4.jpg" alt="Şok Kampanya"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
